body {
    padding: 10%;
    background-color: #7986cb;
    background-image: url(./assets/images/pngegg3.png), url(./assets/images/pngegg2.png);
    background-repeat: no-repeat;
    background-position: top left, 650px 385px;
}

.header-container {
    text-align: center;
    text-shadow: 0 0 10px black;
    color: white;
}

#searchBarDiv {
    padding: 2%;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    background-color: white;
    
}

.lyricSearchBtn:hover {
    background-color: black;
    color: white;
}

h5 {
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px black;
    
}

.results {
    display: flex;
}

#artist, #sorryMsg{
    align-items: center;
    font-size: large;
    font-weight: bold;
    color: white;
}

#link-lyrics, .simArtistCSS{
    align-items: center;
    font-size: large;
    font-weight: bold;
    /* color: white; */
}

/* unvisited link */
a:link {
    color: white;
  }

/* visited link */
a:visited {
    color: #A0B19F;
  }

/* mouse over link */
a:hover {
    color: hotpink;
  }

